# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# Logs
*.log
airflow/logs/

# Data
data/


# Spark
spark-warehouse/
*.parquet
*.crc
_SUCCESS
spark-events/
spark-env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#Metastore
metastore_db/